.Listado
	bgCover('../img/listado_bg.jpg')
	justify-content: space-around;
	display: flex;
	flex-wrap: wrap;
	min-height 30em
	align-items center
	&-sinDoc
		display flex
		flex-direction column
		background: white
		padding 2em
		justify-content center
		align-items center
		i
			margin 1em 0 0