section.Listado
	div.Card(ng-repeat="doctor in doctores" ui-sref="usuario.verDoc({doctor: doctor.doctor})")
		figure(style="background-image: url({{doctor.imgPerfil}})", class="Card-img")
		div.u-padding
			h3.Card-nombre {{doctor.nombre}}
			p.Card-especialidad {{doctor.especialidad.especialidad}}