.PerfilDoctor
	padding-bottom: 2em;
	&-map
		position: relative;
		height: 18em;
		background: gray;
	&-imgPerfil
		position: absolute;
		top: 14em;
		left: 1em;
		width: 8em;
		height: 8em;
		background-size: cover;
		background-position: top center;
		border-radius: 10px;
		border: 3px solid $morado;
		figcaption
			position: absolute;
			background: $morado;
			padding: .3em;
			font-size: .8em;
			text-align: center;
			color: white;
			bottom:0;
			left: 0;
			right: 0;
	&-menu
		ul
			display: flex;
			padding-left: 11em;
			padding-right: 1em;
			justify-content: space-between;
			li
				width: auto;
				font-size: .8em;
				cursor: pointer;
				display: inline-block;
				padding: 1em 0em;
				border-bottom: 2px solid transparent;
				i
					margin-right: .5em;
					color: $naranja;
				&:hover
					border-bottom: 2px solid $morado;
	&-content
		display: flex;
		padding: .5em 1em 0;
		&-gallery
			margin-right: 1em;
			ul
				width: 25em;
				margin: 0;
				height: 15em;
				border-radius: 10px;
				figure
					background-size: cover;
					background-position: top center;
					background-repeat: no-repeat;
					width: 100%;
					height: 15em;
		&-servicios
			h2
				margin: 0;
				color: $azul;
			p
				line-height: 1.5em;