div(class="Popup" popup-close)
	form(class="u-form-bg" name="AgendarForm" ng-submit="AgendarForm.$valid && addCita()")
		div
			h3 Agenda tu cíta
			div(ng-class="{'u-input-required': AgendarForm.fecha.$error.required}")
				label Fecha
				input(type="date" name="fecha" ng-model="fecha" required)
			div(style="position:relative")
				label Hora
				select(ng-model="hora" ng-disabled="horas.length == 0")
					option(ng-repeat="hra in horas" value="{{hra}}") {{hra}}:00</span>
				span(style="position: absolute; top:100%; left: 0; right: 0; text-align:right; color: gray; font-size: .8em;") {{msjHorasDisponibles}}
			div(ng-class="{'u-input-required': AgendarForm.asunto.$error.required}")
				label.txtArea Asunto
				textarea(name="asunto" ng-model="asunto" required)
			button(ng-class="{'u-disabled': !AgendarForm.$valid}")  Agendar