header(header)
section.Principal
	form
		p ¡Encuentra de la manera más fácil a tu médico por especialidad!
		select
			option Cardiología
			option Valor 2
			option Valor 3
			option Valor 4
		button(ui-sref="doctor.listado({especialidad: 'Ginecologo'})") Buscar
	form
		p ¡Que enfermedad tienes!
		input(type="text", placeholder="Ej. epilepsia")
		button(ui-sref="listado") Buscar
section.Destacados
	div(class="Perfil", ui-sref="perfil_doc")
		img(src="img/doctor1.jpg", class="Perfil-img")
		h3.Perfil-nombre Nombre doctor
		p.Perfil-especialidad especialidad
	div(class="Perfil", ui-sref="perfil_doc")
		img(src="img/doctor1.jpg", class="Perfil-img")
		h3.Perfil-nombre Nombre doctor
		p.Perfil-especialidad especialidad
	div(class="Perfil", ui-sref="perfil_doc")
		img(src="img/doctor1.jpg", class="Perfil-img")
		h3.Perfil-nombre Nombre doctor
		p.Perfil-especialidad especialidad
	div(class="Perfil", ui-sref="perfil_doc")
		img(src="img/doctor1.jpg", class="Perfil-img")
		h3.Perfil-nombre Nombre doctor
		p.Perfil-especialidad especialidad