.ComentariosDoc
	flex-flow: column;
	& > *
		width: 60%;
		max-width: 700px;
	&-content
		overflow-y: scroll !important;
		height: 70%;
		position: relative;
	&-comentarios
		&-item
			display: flex;
			margin: 2.5em 0 0;
			align-items: center;
			&:first-child
				margin: 0;
			figure
				flex-shrink: 0;
				width: 4em;
				height: 4em;
				background-size: cover;
				border-radius: 100%;
			p
				padding-left: 1em;
				text-align: left;
				margin: 0;
	&-new
		display: flex;
		justify-content: space-between;
		margin-top: 2em;
		textarea
			flex-grow: 1;
		button
			margin-left: 1em;