section(class="Admin-ficha")
	article(class="Admin-ficha-item")
		figure(style="background-image: url(./img/perfil_doc.jpg)")
		figcaption(class="Admin-ficha-item-detail") Edgar Zavala - 14 Febrero 2015
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi laborum voluptas enim architecto labore amet, distinctio quaerat. Consectetur nam, inventore quos cum. Fugiat expedita enim voluptate qui, itaque facere minima.
	article(class="Admin-ficha-item")
		figure(style="background-image: url(./img/perfil_doc.jpg)")
		figcaption(class="Admin-ficha-item-detail") Edgar Zavala - 14 Febrero 2015
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi laborum voluptas enim architecto labore amet, distinctio quaerat. Consectetur nam, inventore quos cum. Fugiat expedita enim voluptate qui, itaque facere minima.
	article(class="Admin-ficha-item")
		figure(style="background-image: url(./img/perfil_doc.jpg)")
		figcaption(class="Admin-ficha-item-detail") Edgar Zavala - 14 Febrero 2015
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi laborum voluptas enim architecto labore amet, distinctio quaerat. Consectetur nam, inventore quos cum. Fugiat expedita enim voluptate qui, itaque facere minima.
	article(class="Admin-ficha-item")
		figure(style="background-image: url(./img/perfil_doc.jpg)")
		figcaption(class="Admin-ficha-item-detail") Edgar Zavala - 14 Febrero 2015
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi laborum voluptas enim architecto labore amet, distinctio quaerat. Consectetur nam, inventore quos cum. Fugiat expedita enim voluptate qui, itaque facere minima.
	article(class="Admin-ficha-item")
		figure(style="background-image: url(./img/perfil_doc.jpg)")
		figcaption(class="Admin-ficha-item-detail") Edgar Zavala - 14 Febrero 2015
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi laborum voluptas enim architecto labore amet, distinctio quaerat. Consectetur nam, inventore quos cum. Fugiat expedita enim voluptate qui, itaque facere minima.
	article(class="Admin-ficha-item")
		figure(style="background-image: url(./img/perfil_doc.jpg)")
		figcaption(class="Admin-ficha-item-detail") Edgar Zavala - 14 Febrero 2015
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi laborum voluptas enim architecto labore amet, distinctio quaerat. Consectetur nam, inventore quos cum. Fugiat expedita enim voluptate qui, itaque facere minima.
	article(class="Admin-ficha-item")
		figure(style="background-image: url(./img/perfil_doc.jpg)")
		figcaption(class="Admin-ficha-item-detail") Edgar Zavala - 14 Febrero 2015
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi laborum voluptas enim architecto labore amet, distinctio quaerat. Consectetur nam, inventore quos cum. Fugiat expedita enim voluptate qui, itaque facere minima.
	article(class="Admin-ficha-item")
		figure(style="background-image: url(./img/perfil_doc.jpg)")
		figcaption(class="Admin-ficha-item-detail") Edgar Zavala - 14 Febrero 2015
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi laborum voluptas enim architecto labore amet, distinctio quaerat. Consectetur nam, inventore quos cum. Fugiat expedita enim voluptate qui, itaque facere minima.