section(class="Admin")
	article(ng-if="comentarios.length == 0" class="noInfo")
		span Aún no tienes ningún comentario.
	section(class="Cita" ng-repeat="comentarios in comentariosPerMonths")
		h3(class="Cita-months")
			span {{comentarios[0].year}} - {{comentarios[0].month}}
			span {{comentarios.length}} comentarios
		article(class="Cita-item" ng-repeat="comentario in comentarios")
			div(class="Cita-item-fecha")
				span {{comentario.fecha | datetime}}
			header
				figure(style="background-image: url({{comentario.paciente.imgPerfil}})")
			div(class="Cita-item-desc")
				h3 {{comentario.paciente.nombre}}
				div
					p(class="Cita-asunto") {{comentario.comentario}}