div(class="Popup ComentariosDoc" popup-close)
	form(class="ComentariosDoc-content")
		div(class="Popup-content")
			h3 <span>(14)</span> Comentarios
			section(class="ComentariosDoc-comentarios")
				article(class="ComentariosDoc-comentarios-item")
					figure(style="background-image: url(./img/perfil_doc.jpg)")
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi laborum voluptas enim architecto labore amet, distinctio quaerat. Consectetur nam, inventore quos cum. Fugiat expedita enim voluptate qui, itaque facere minima.
				article(class="ComentariosDoc-comentarios-item")
					figure(style="background-image: url(./img/perfil_doc.jpg)")
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi laborum voluptas enim architecto labore amet, distinctio quaerat. Consectetur nam, inventore quos cum. Fugiat expedita enim voluptate qui, itaque facere minima.
				article(class="ComentariosDoc-comentarios-item")
					figure(style="background-image: url(./img/perfil_doc.jpg)")
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi laborum voluptas enim architecto labore amet, distinctio quaerat. Consectetur nam, inventore quos cum. Fugiat expedita enim voluptate qui, itaque facere minima.
				article(class="ComentariosDoc-comentarios-item")
					figure(style="background-image: url(./img/perfil_doc.jpg)")
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi laborum voluptas enim architecto labore amet, distinctio quaerat. Consectetur nam, inventore quos cum. Fugiat expedita enim voluptate qui, itaque facere minima.
				article(class="ComentariosDoc-comentarios-item")
					figure(style="background-image: url(./img/perfil_doc.jpg)")
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi laborum voluptas enim architecto labore amet, distinctio quaerat. Consectetur nam, inventore quos cum. Fugiat expedita enim voluptate qui, itaque facere minima.
				article(class="ComentariosDoc-comentarios-item")
					figure(style="background-image: url(./img/perfil_doc.jpg)")
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi laborum voluptas enim architecto labore amet, distinctio quaerat. Consectetur nam, inventore quos cum. Fugiat expedita enim voluptate qui, itaque facere minima.
				article(class="ComentariosDoc-comentarios-item")
					figure(style="background-image: url(./img/perfil_doc.jpg)")
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi laborum voluptas enim architecto labore amet, distinctio quaerat. Consectetur nam, inventore quos cum. Fugiat expedita enim voluptate qui, itaque facere minima.
				article(class="ComentariosDoc-comentarios-item")
					figure(style="background-image: url(./img/perfil_doc.jpg)")
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi laborum voluptas enim architecto labore amet, distinctio quaerat. Consectetur nam, inventore quos cum. Fugiat expedita enim voluptate qui, itaque facere minima.
	section(class="ComentariosDoc-new")
		textarea
		button Enviar