h2 Directorio de especialidades, Dr. App
div
	figure(class="Header-perfil-img" style="background-image:url(./img/perfil_doc.jpg)")
	span(class="Header-perfil-user") ezavile
	i(class="Header-perfil-config icon-settings")
	nav(class="Header-perfil-menu")
		ul
			li(ui-sref="doctor.perfil") Perfil
			li(ui-sref="doctor.citas") Citas
			li(ui-sref="doctor.comentarios") Comentarios
			li(ui-sref="doctor.mensajes") Mensajes
			li Salir