span.icon-home(ui-sref="usuario.principal")
h2 Bienvenido Dr. {{doctor.nombre}}
div
	figure(class="Header-perfil-img" style="background-image:url({{doctor.imgPerfil}})")
	span(class="Header-perfil-user") {{doctor.doctor}}
	i(class="Header-perfil-config icon-settings")
	nav(class="Header-perfil-menu")
		ul
			li(ui-sref="doctor.perfil") Perfil
			li(ui-sref="doctor.citas") Citas
			li(ui-sref="doctor.comentarios") Comentarios
			li(ui-sref="doctor.mensajes") Mensajes
			li(logout) Salir