h2 Directorio de especialidades, Dr. App
div
	figure(class="Header-perfil-img" style="background-image:url(./img/perfil_doc.jpg)")
	span(class="Header-perfil-user") ezavile
	i(class="Header-perfil-config icon-settings")