h2 Bienvenido {{paciente.nombre}}
div
	figure(class="Header-perfil-img" style="background-image:url({{paciente.imgPerfil}})")
	span(class="Header-perfil-user") {{paciente.paciente}}
	i(class="Header-perfil-config icon-settings")
	nav(class="Header-perfil-menu")
		ul
			li(ui-sref="paciente.perfil") Perfil
			li(ui-sref="paciente.citas") Citas
			li(ui-sref="paciente.mensajes") Mensajes
			li(logout) Salir