section(class="Admin-ficha")
	article(class="Admin-ficha-item Ficha-cita")
		figure(style="background-image: url(./img/perfil_doc.jpg)")
		figcaption(class="Admin-ficha-item-detail") Edgar Zavala - 14 Febrero 2015
		div(class="Ficha-cita-info")
			h3 Fecha
			p 14 de Octubre 2015
		div(class="Ficha-cita-info")
			h3 Hora
			p 14:20
		div(class="Ficha-cita-info")
			h3 Asunto
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, omnis incidunt asperiores enim, laboriosam dolorum distinctio optio in iusto. Ullam temporibus expedita
		div(class="Ficha-cita-options")
			button Confirmar
			button(type="cancel") Cancelar
	article(class="Admin-ficha-item Ficha-cita")
		figure(style="background-image: url(./img/perfil_doc.jpg)")
		figcaption(class="Admin-ficha-item-detail") Edgar Zavala - 14 Febrero 2015
		div(class="Ficha-cita-info")
			h3 Fecha
			p dato dato dato
		div(class="Ficha-cita-info")
			h3 Hora
			p dato dato dato
		div(class="Ficha-cita-info")
			h3 Asunto
			p dato dato dato
		div(class="Ficha-cita-options")
			button Confirmar
			button(type="cancel") Cancelar
	article(class="Admin-ficha-item Ficha-cita")
		figure(style="background-image: url(./img/perfil_doc.jpg)")
		figcaption(class="Admin-ficha-item-detail") Edgar Zavala - 14 Febrero 2015
		div(class="Ficha-cita-info")
			h3 Fecha
			p dato dato dato
		div(class="Ficha-cita-info")
			h3 Hora
			p dato dato dato
		div(class="Ficha-cita-info")
			h3 Asunto
			p dato dato dato
		div(class="Ficha-cita-options")
			button Confirmar
			button(type="cancel") Cancelar
	article(class="Admin-ficha-item Ficha-cita")
		figure(style="background-image: url(./img/perfil_doc.jpg)")
		figcaption(class="Admin-ficha-item-detail") Edgar Zavala - 14 Febrero 2015
		div(class="Ficha-cita-info")
			h3 Fecha
			p dato dato dato
		div(class="Ficha-cita-info")
			h3 Hora
			p dato dato dato
		div(class="Ficha-cita-info")
			h3 Asunto
			p dato dato dato
		div(class="Ficha-cita-options")
			button Confirmar
			button(type="cancel") Cancelar
	article(class="Admin-ficha-item Ficha-cita")
		figure(style="background-image: url(./img/perfil_doc.jpg)")
		figcaption(class="Admin-ficha-item-detail") Edgar Zavala - 14 Febrero 2015
		div(class="Ficha-cita-info")
			h3 Fecha
			p dato dato dato
		div(class="Ficha-cita-info")
			h3 Hora
			p dato dato dato
		div(class="Ficha-cita-info")
			h3 Asunto
			p dato dato dato
		div(class="Ficha-cita-options")
			button Confirmar
			button(type="cancel") Cancelar
	article(class="Admin-ficha-item Ficha-cita")
		figure(style="background-image: url(./img/perfil_doc.jpg)")
		figcaption(class="Admin-ficha-item-detail") Edgar Zavala - 14 Febrero 2015
		div(class="Ficha-cita-info")
			h3 Fecha
			p dato dato dato
		div(class="Ficha-cita-info")
			h3 Hora
			p dato dato dato
		div(class="Ficha-cita-info")
			h3 Asunto
			p dato dato dato
		div(class="Ficha-cita-options")
			button Confirmar
			button(type="cancel") Cancelar
	article(class="Admin-ficha-item Ficha-cita")
		figure(style="background-image: url(./img/perfil_doc.jpg)")
		figcaption(class="Admin-ficha-item-detail") Edgar Zavala - 14 Febrero 2015
		div(class="Ficha-cita-info")
			h3 Fecha
			p dato dato dato
		div(class="Ficha-cita-info")
			h3 Hora
			p dato dato dato
		div(class="Ficha-cita-info")
			h3 Asunto
			p dato dato dato
		div(class="Ficha-cita-options")
			button Confirmar
			button(type="cancel") Cancelar
	article(class="Admin-ficha-item Ficha-cita")
		figure(style="background-image: url(./img/perfil_doc.jpg)")
		figcaption(class="Admin-ficha-item-detail") Edgar Zavala - 14 Febrero 2015
		div(class="Ficha-cita-info")
			h3 Fecha
			p dato dato dato
		div(class="Ficha-cita-info")
			h3 Hora
			p dato dato dato
		div(class="Ficha-cita-info")
			h3 Asunto
			p dato dato dato
		div(class="Ficha-cita-options")
			button Confirmar
			button(type="cancel") Cancelar