section(class="Admin-mensajes")
	section(class="Admin-mensajes-people")
		article(class="Admin-mensajes-people-person u-person-selected")
			figure(style="background-image: url(./img/perfil_doc.jpg)")
			figcaption Edgar Zavala
		article(class="Admin-mensajes-people-person")
			figure(style="background-image: url(./img/perfil_doc.jpg)")
			figcaption Edgar Zavala
		article(class="Admin-mensajes-people-person")
			figure(style="background-image: url(./img/perfil_doc.jpg)")
			figcaption Edgar Zavala
		article(class="Admin-mensajes-people-person")
			figure(style="background-image: url(./img/perfil_doc.jpg)")
			figcaption Edgar Zavala
		article(class="Admin-mensajes-people-person")
			figure(style="background-image: url(./img/perfil_doc.jpg)")
			figcaption Edgar Zavala
		article(class="Admin-mensajes-people-person")
			figure(style="background-image: url(./img/perfil_doc.jpg)")
			figcaption Edgar Zavala
		article(class="Admin-mensajes-people-person")
			figure(style="background-image: url(./img/perfil_doc.jpg)")
			figcaption Edgar Zavala
		article(class="Admin-mensajes-people-person")
			figure(style="background-image: url(./img/perfil_doc.jpg)")
			figcaption Edgar Zavala
		article(class="Admin-mensajes-people-person")
			figure(style="background-image: url(./img/perfil_doc.jpg)")
			figcaption Edgar Zavala
	section(class="Admin-mensajes-content")
		article
			p(class="Admin-mensajes-content-user") Edgar Zavala - ezavile | 14 de Octubre 2015
			p(class="Admin-mensajes-content-desc")   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim beatae, porro excepturi eligendi sint, fugiat ullam fuga. Blanditiis aliquid, optio sunt quidem, ratione cum in magni. Suscipit deleniti nam aspernatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis modi fugiat vitae assumenda facilis unde adipisci nemo? Eveniet, deleniti. Debitis sit esse maxime saepe enim ipsam perferendis, sunt mollitia dolore?
		article
			p(class="Admin-mensajes-content-user") Edgar Zavala - ezavile | 14 de Octubre 2015
			p(class="Admin-mensajes-content-desc")   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim beatae, porro excepturi eligendi sint, fugiat ullam fuga. Blanditiis aliquid, optio sunt quidem, ratione cum in magni. Suscipit deleniti nam aspernatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis modi fugiat vitae assumenda facilis unde adipisci nemo? Eveniet, deleniti. Debitis sit esse maxime saepe enim ipsam perferendis, sunt mollitia dolore?
		article
			p(class="Admin-mensajes-content-user") Edgar Zavala - ezavile | 14 de Octubre 2015
			p(class="Admin-mensajes-content-desc")   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim beatae, porro excepturi eligendi sint, fugiat ullam fuga. Blanditiis aliquid, optio sunt quidem, ratione cum in magni. Suscipit deleniti nam aspernatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis modi fugiat vitae assumenda facilis unde adipisci nemo? Eveniet, deleniti. Debitis sit esse maxime saepe enim ipsam perferendis, sunt mollitia dolore?
		article
			p(class="Admin-mensajes-content-user") Edgar Zavala - ezavile | 14 de Octubre 2015
			p(class="Admin-mensajes-content-desc")   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim beatae, porro excepturi eligendi sint, fugiat ullam fuga. Blanditiis aliquid, optio sunt quidem, ratione cum in magni. Suscipit deleniti nam aspernatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis modi fugiat vitae assumenda facilis unde adipisci nemo? Eveniet, deleniti. Debitis sit esse maxime saepe enim ipsam perferendis, sunt mollitia dolore?
		article
			p(class="Admin-mensajes-content-user") Edgar Zavala - ezavile | 14 de Octubre 2015
			p(class="Admin-mensajes-content-desc")   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim beatae, porro excepturi eligendi sint, fugiat ullam fuga. Blanditiis aliquid, optio sunt quidem, ratione cum in magni. Suscipit deleniti nam aspernatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis modi fugiat vitae assumenda facilis unde adipisci nemo? Eveniet, deleniti. Debitis sit esse maxime saepe enim ipsam perferendis, sunt mollitia dolore?
		article
			p(class="Admin-mensajes-content-user") Edgar Zavala - ezavile | 14 de Octubre 2015
			p(class="Admin-mensajes-content-desc")   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim beatae, porro excepturi eligendi sint, fugiat ullam fuga. Blanditiis aliquid, optio sunt quidem, ratione cum in magni. Suscipit deleniti nam aspernatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis modi fugiat vitae assumenda facilis unde adipisci nemo? Eveniet, deleniti. Debitis sit esse maxime saepe enim ipsam perferendis, sunt mollitia dolore?
		article
			p(class="Admin-mensajes-content-user") Edgar Zavala - ezavile | 14 de Octubre 2015
			p(class="Admin-mensajes-content-desc")   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim beatae, porro excepturi eligendi sint, fugiat ullam fuga. Blanditiis aliquid, optio sunt quidem, ratione cum in magni. Suscipit deleniti nam aspernatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis modi fugiat vitae assumenda facilis unde adipisci nemo? Eveniet, deleniti. Debitis sit esse maxime saepe enim ipsam perferendis, sunt mollitia dolore?
		article
			p(class="Admin-mensajes-content-user") Edgar Zavala - ezavile | 14 de Octubre 2015
			p(class="Admin-mensajes-content-desc")   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim beatae, porro excepturi eligendi sint, fugiat ullam fuga. Blanditiis aliquid, optio sunt quidem, ratione cum in magni. Suscipit deleniti nam aspernatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis modi fugiat vitae assumenda facilis unde adipisci nemo? Eveniet, deleniti. Debitis sit esse maxime saepe enim ipsam perferendis, sunt mollitia dolore?

	article(class="Admin-mensajes-content-new")
		textarea
		button Enviar