div(class="Popup ComentariosDoc" popup-close)
	form(class="ComentariosDoc-content")
		div(class="Popup-content")
			h3 <span>({{comentarios.length}})</span> Comentarios
			section(class="ComentariosDoc-comentarios")
				article(ng-repeat="comentario in comentarios" class="ComentariosDoc-comentarios-item")
					figure(style="background-image: url({{comentario.paciente.imgPerfil}})")
					p {{comentario.comentario}}
					p(class="ComentariosDoc-comentarios-item-detail") {{comentario.paciente.nombre}} - {{comentario.fecha | datetime}}
					{{usuario.isLogeado()}}
	section(class="ComentariosDoc-new" ng-if="usuarioActual.tipoUsuario === 'paciente'")
		textarea(ng-model="$parent.comentario")
		button(ng-click="addComentario()") Enviar