section(class="Popup" popup-close)
	article(class="Popup--contentScroll")
		article(class="ComentariosDoc-content")
			h3 <span>({{comentarios.length}})</span> Comentarios
			section(class="ComentariosDoc-comentarios")
				article(ng-repeat="comentario in comentarios track by $index" class="ComentariosDoc-comentarios-item")
					figure(style="background-image: url({{comentario.paciente.imgPerfil}})")
					p {{comentario.comentario}}
					p(class="ComentariosDoc-comentarios-item-detail") {{comentario.paciente.nombre}} - {{comentario.fecha | datetime}}
	article(class="ComentariosDoc-new" ng-if="usuarioActual.tipoUsuario === 'paciente'")
		form(name="ComentarioForm" ng-submit="ComentarioForm.$valid && postComentario()")
			div(ng-class="{'u-input-required': ComentarioForm.comentario.$error.required}")
				textarea(ng-model="$parent.comentario" name="comentario" required)
			button(ng-class="{'u-disabled': !ComentarioForm.$valid}") Enviar