.ComentariosDoc
	flex-flow: column;
	&-content
		position: relative;
	&-comentarios
		&-item
			padding-top .5em
			display: flex;
			align-items: center;
			position: relative;
			padding-bottom: 2em;
			border-bottom: 1px solid gray
			&:first-child
				margin: 0;
			&-detail
				position: absolute;
				bottom: 0
				right: 0;
				font-size: .8em;
				left 0
				font-weight: bold;
				background: #e9eaed
				padding .3em;
				text-align right !important
			figure
				flex-shrink: 0;
				width: 4em;
				height: 4em;
				background-size: cover;
				border-radius: 100%;
			p
				padding-left: 1em;
				text-align: left;
				margin: 0;
	&-new
		display: flex;
		margin-top: 2em;
		width: 100%;
		max-width: 35em;
		background: rgba(white, 0.9);
		form
			padding: .5em;
			width 100%
			textarea
				width: 100%;