section(class="Admin")
	section(class="Cita" ng-repeat="citas in citasPerMonths")
		h3(class="Cita-months")
			span {{citas[0].year}} - {{citas[0].month}}
			span {{citas.length}} citas
		article(class="Cita-item" ng-repeat="cita in citas")
			div(class="Cita-item-estatus" ng-class="{'--confirmada' : cita.estatus == 'CONFIRMADA', '--cancelada' : cita.estatus == 'CANCELADA', '--espera': cita.estatus == 'EN ESPERA'}") {{cita.estatus}}
			div(class="Cita-item-fecha") {{cita.fecha | dateDDMMYYY}} - {{cita.hora}}:00
			header
				figure(style="background-image: url({{cita.doctor.imgPerfil}})")
				button(ng-if="cita.estatus!='CANCELADA'" type="cancel" ng-class="{'u-disabled': isDisabledCita(cita.fecha)}" ng-disabled="isDisabledCita(cita.fecha)") Cancelar
			div(class="Cita-item-desc")
				h3 {{cita.doctor.doctor}}
				div
					p(class="Cita-asunto") {{cita.asunto}}