section(class="Admin")
	section(class="Cita")
		h3(class="Cita-months")
			span 2015 - Noviembre
			span 3 citas
		article(class="Cita-item")
			div(class="Cita-item-estatus --confirmada") CONFIRMADA
			div(class="Cita-item-fecha") 18/11/2015
			header
				figure(style="background-image: url(./img/perfil_doc.jpg)")
				button(type="cancel") Cancelar
			div(class="Cita-item-desc")
				h3 Nombre del doctor 
				div
					p(class="Cita-asunto")  Lorem ipsum dolor sit amet
		article(class="Cita-item")
			div(class="Cita-item-estatus --cancelada") CANCELADA
			div(class="Cita-item-fecha") 18/11/2015
			header
				figure(style="background-image: url(./img/perfil_doc.jpg)")
				button(type="cancel") Cancelar
			div(class="Cita-item-desc")
				h3 Nombre del doctor 
				div
					p(class="Cita-asunto")  Lorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit amet
		article(class="Cita-item")
			div(class="Cita-item-estatus --espera") EN ESPERA
			div(class="Cita-item-fecha") 18/11/2015
			header
				figure(style="background-image: url(./img/perfil_doc.jpg)")
				button(type="cancel") Cancelar
			div(class="Cita-item-desc")
				h3 Nombre del doctor 
				div
					p(class="Cita-asunto")  Lorem ipsum dolor sit amet
		h3(class="Cita-months")
			span 2015 - Noviembre
			span 3 citas
		article(class="Cita-item")
			div(class="Cita-item-estatus --confirmada") CONFIRMADA
			div(class="Cita-item-fecha") 18/11/2015
			header
				figure(style="background-image: url(./img/perfil_doc.jpg)")
				button(type="cancel") Cancelar
			div(class="Cita-item-desc")
				h3 Nombre del doctor 
				div
					p(class="Cita-asunto")  Lorem ipsum dolor sit amet
		article(class="Cita-item")
			div(class="Cita-item-estatus --cancelada") CANCELADA
			div(class="Cita-item-fecha") 18/11/2015
			header
				figure(style="background-image: url(./img/perfil_doc.jpg)")
				button(type="cancel") Cancelar
			div(class="Cita-item-desc")
				h3 Nombre del doctor 
				div
					p(class="Cita-asunto")  Lorem ipsum dolor sit amet
		article(class="Cita-item")
			div(class="Cita-item-estatus --espera") EN ESPERA
			div(class="Cita-item-fecha") 18/11/2015
			header
				figure(style="background-image: url(./img/perfil_doc.jpg)")
				button(type="cancel") Cancelar
			div(class="Cita-item-desc")
				h3 Nombre del doctor 
				div
					p(class="Cita-asunto")  Lorem ipsum dolor sit amet