@import 'nib'
@import './lib/normalize'
@import './reset'
@import './lib/angular-carousel.css'
@import './fonts/fonts.css'
@import './variables'
@import './mixins'
@import './popup'
@import './header'
@import './admin'
@import './validateForms'

//GENERALRES
.u-labelInput
	display: flex;
	justify-content: center;
*
	box-sizing: border-box;
	outline: none;
.popup-on
	overflow: hidden;
body
	color: #16210b;
	font-size: 16px;
	background-image: url(../img/bg.png);
	font-family: 'Open Sans';

a
a:active
	text-decoration: none;
	outline: none;
	color: inherit;
.u-form-bg
	background: rgba(white, .9);
	border-radius: 5px;
	boxShadow();
h3
	color: $morado;
	margin: 0 0 1em;
form
	padding: 1em;
	text-align: center;
	div
		margin-bottom: 1.5em;
		&:last-child
			margin 0
		label
			display: inline-block;
			width: 5em;
			margin-right: 1em;
			text-align: right;
		> input
		> select
		> textarea
			width: 14em;
	button
		float: right;
	button + button
		margin-right: 1em;
		background: $naranja;
li
	list-style: none;

input,
select,
textarea
	padding: .3em;
	border: 1px solid $azul;
	background: white;
	color: gray;
textarea
	height: 6em;
	resize: none;
button
	background: $azul;
	border: 0;
	border-radius: 8px;
	padding: .5em 1em;
	color: white !important;
	outline: none;
button[type="cancel"]
	background: $naranja;
label.txtArea
	vertical-align: top;

.u-mapa
	height: 15em;
	width: 100%;
	map
		width: 100%;
		height: 100%;
.u-form-large
	position: absolute;
	top: 1em;
	bottom: 1em;
	left: 1em;
	right: 1em;
	margin: 0 auto;
.u-padding
	padding .5em
.Contenedor
	width: 80%;
	max-width: 900px;
	margin: 0 auto;
	overflow: hidden;
	background: white;
	boxShadow();
.Upload
	margin: 0 auto;
	height: 8em;
	bgCover('')
	border-radius: 100%;
	width: 8em;
	position: relative;
	input[type=file]
		position: absolute;
		left: 0;
		height: 100%;
		width: 8em;
		border-radius: 100%;
		border: 0;
		cursor: pointer;
		color: transparent;
		background: transparent;
		&::-webkit-file-upload-button
			visibility: hidden;
		&:hover
			background: rgba(black, 0.6)
			&::before
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				height: 100%;
				font-family: icomoon;
				content: "\e901";
				color: white;
				font-size: 1.5em;
.Doctor-upload-galeria
	width: 30%;
	height: 10em;
	background: $morado;
	margin: 0 1em 0em;
	bgCover('')
	border-radius: 10px;
	position: relative;
	border: 3px dashed gray;
	background-color: rgba(gray,0.3);
	input[type=file]
		position: absolute;
		left: 0;
		height: 100%;
		width: 100%;
		border-radius: 10px;
		border: 0;
		cursor: pointer;
		color: transparent;
		background: transparent;
		&::-webkit-file-upload-button
			visibility: hidden;
		&:hover
			background: rgba(black, 0.6)
			&::before
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				height: 100%;
				font-family: icomoon;
				content: "\e901";
				color: white;
				font-size: 1.5em;
.Card
	margin: 1em;
	cursor: pointer;
	text-align: center;
	boxShadow();
	width: 10em;
	background: white;
	&-img
		width: 100%;
		bgCover('');
		height: 10em;
		max-height: 8em;
@import '../usuario/usuario'
@import '../paciente/paciente'
//@import '../doctor/doctor'
