@import 'nib'
@import './lib/normalize'
@import './lib/angular-carousel.css'
@import './fonts/fonts.css'
@import './variables'
@import './mixins'
@import './popup'
@import './perfil'

//GENERALRES

*
	box-sizing: border-box;

body
	color: #16210b;
	font-size: 16px;
	background-image: url(../img/bg.png);
	font-family: 'Open Sans';

a
a:active
	text-decoration: none;
	outline: none;
	color: inherit;

form
	padding: 1em;
	background: rgba(white, .9);
	border-radius: 10px;
	boxShadow();
	text-align: center;
	h3
		color: $morado;

li
	list-style: none;

input,
select,
textarea
	padding: .3em;
	border: 1px solid $azul;
	background: white;
	color: gray;
textarea
	height: 5em;
	resize: none;
button
	background: $azul;
	border: 0;
	border-radius: 8px;
	padding: .5em 1em;
	color: white !important;
	outline: none;
button[type="cancel"]
	background: $naranja;
label.txtArea
	vertical-align: top;

.Contenedor
	width: 80%;
	max-width: 900px;
	margin: 0 auto;
	overflow: hidden;
	background: white;
	boxShadow();

@import '../header/header'
@import '../principal/principal'
@import '../registro/registro'

//Doctor
@import '../doctor/listado/listado'
@import '../doctor/perfil/perfil'
@import '../doctor/comentarios/comentarios'

//Admin
@import './admin'
