.Perfil
	cursor: pointer;
	boxShadow();
	width: 10em;
	display: inline-block;
	background: white;
	&-img
		width: 100%;
		background-size: cover;
		max-height: 8em;
	&-nombre,
	&-especialidad
		text-align: center;