.Popup
	position:fixed;
	background: rgba(black, 0.5);
	top:0;
	left:0;
	right:0;
	bottom:0;
	display: flex;
	justify-content:center;
	z-index: 100;
	align-items: center;
	flex-direction: column;
	padding: 1em;
	&--contentScroll
		width: 100%;
		max-width: 35em;
		background: rgba(white, .9);
		border-radius: 5px;
		boxShadow();
		overflow-y: auto;
		overflow-x: hidden;
		text-align: center;
		padding: .5em;
		&-large
			@extend .Popup--contentScroll
			max-width: 50em;