.Popup
	position:fixed;
	background: rgba(black, 0.5);
	top:0;
	left:0;
	right:0;
	bottom:0;
	display: flex;
	justify-content:center;
	z-index: 100;
	& > *
		align-self: center;
	&-content
		margin 1em 0 0
		padding: 0 1em;
		background: rgba(white, .9);
		border-radius: 5px;
		boxShadow();
		text-align: center;
		overflow-y: auto;
		max-width: 40em;
		h3
			margin: 0 0 1em;
		div
			margin-bottom: 1.5em;
			label
				display: inline-block;
				width: 5em;
				margin-right: 1em;
				text-align: right;
			> input
			> select
			> textarea
				width: 14em;
		button
			float: right;
		button + button
			margin-right: 1em;
			background: $naranja;