invalid()
	position: absolute;
	font-size: .7em;
	color: rgba(red,0.3);
	bottom: 0;
	align-items: center;
	left: 0;
	right: 0;
	top: 100%;
.u-input-required
	position: relative;
	input,textarea
		border: 1px solid red;
	&:after
		content: "* Campo requerido";
		invalid();
.u-input-disabled
	position: relative;
	input,textarea
		border: 1px solid gray;
	&:after
		content: "No puede ser modificado";
		invalid();
		text-align right
		right 1em
		top .5em
		color gray
.u-input-errorEmail
	position: relative;
	input
		border: 1px solid red;
	&:after
		content: "* Email incorrecto";
		invalid();
.u-disabled
	opacity: .5;
	cursor: default;
	pointer-events:none;
	user-select: none;