@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?n1z4te');
	src:url('fonts/icomoon.eot?n1z4te#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?n1z4te') format('truetype'),
		url('fonts/icomoon.woff?n1z4te') format('woff'),
		url('fonts/icomoon.svg?n1z4te#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-image:before {
	content: "\e901";
}
.icon-settings:before {
	content: "\e800";
}
.icon-phone:before {
	content: "\e601";
}
.icon-comment:before {
	content: "\e603";
}
.icon-bars:before {
	content: "\e605";
}
.icon-back:before {
	content: "\e900";
}
.icon-calendar:before {
	content: "\e602";
}
.icon-inbox:before {
	content: "\e600";
}