section(class="AdminPerfil")
	article(class="AdminPerfil-img")
		figure(style="background-image: url(./img/perfil_doc.jpg)")
	article(class="AdminPerfil-info")
		div
			label Especialidad
			select
				option Valor 1
				option Valor 2
				option Valor 3
		div
			label Usuario
			input(type="text")
		div
			label Nombre
			input(type="text")
		div
			label Contraseña
			input(type="text")
		div
			label Correo
			input(type="text")
		div
			label.txtArea Dirección
			textarea
		div
			label.txtArea Servicios
			textarea
		div
			label Teléfono
			input(type="text")
	article(class="AdminPerfil-button")
		button Guardar cambios
		button(type="cancel") Cancelar
