div(popup-close).Popup
	form
		div.Popup-content
			h3 Agenda tu cíta
			div
				label Fecha
				input(type="date")
			div
				label Hora
				input(type="time")
			div
				label Asunto
				input(type="text")
			button(type="submit") Agendar