section.Principal
	bgCover('../img/buscador_bg.jpg');
	display: flex;
	width: 100%;
	text-align: center;
	height: 30em;
	justify-content: space-around;
	flex-direction: column;
	flex-wrap: wrap-reverse;
	form
		margin-right: 3em;
		width: 25em;
		display: block;
		margin-left: 40em;
		p
			margin: 0 0 1em;
		select
		input
			margin-right: 1em;
section.Destacados
	padding: 2em;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	background: white;