section.Principal
	form(class="u-form-bg")
		p ¡Encuentra de la manera más fácil a tu médico por especialidad!
		div.u-labelInput
			select(ng-model="especialidad" ng-options="option.idEspecialidad as option.especialidad for option in especialidades")
			button(ui-sref="usuario.listado({tipoListado: 'especialidad', search: especialidad})") Buscar
	form(class="u-form-bg" name="Form" ng-submit="Form.$valid")
		p ¡Que enfermedad tienes!
		div.u-labelInput(ng-class="{'u-input-required': Form.enfermedad.$error.required}")
			input(type="text", ng-model="enfermedad" name="enfermedad" placeholder="Ej. epilepsia" required)
			button(ui-sref="usuario.listado({tipoListado: 'enfermedad', search: enfermedad})" ng-class="{'u-disabled': !Form.$valid}") Buscar
section.Destacados
	div(class="Card")
		img(src="img/doctor1.jpg", class="Card-img" ui-sref="paciente.perfil")
		h3.Card-nombre Nombre doctor
		p.Card-especialidad especialidad
	div(class="Card")
		img(src="img/doctor1.jpg", class="Card-img" ui-sref="usuario.perfil")
		h3.Card-nombre Nombre doctor
		p.Card-especialidad especialidad
	div(class="Card")
		img(src="img/doctor1.jpg", class="Card-img")
		h3.Card-nombre Nombre doctor
		p.Card-especialidad especialidad
	div(class="Card")
		img(src="img/doctor1.jpg", class="Card-img")
		h3.Card-nombre Nombre doctor
		p.Card-especialidad especialidad