header, .Header-perfil
	background: $morado;
	color: white;
	display: flex;
	justify-content: space-between;
	padding-left: .5em;
	align-items: center;
	width: 100%;
	h2
		margin: 0;
		font-size: .9em;
	div
		display: flex;
		align-items: center;
		background: rgba(white, 0.2);
		button
			font-size: .8em;
			border-radius: 0;
			background: transparent;
			border: 0;
			color: white;
			&.Registrar:hover
				background: $azul;
			&.InicioSesion:hover
				background: $naranja;
.Header-perfil
	div
		padding:.5em;
		position: relative;
	&-img
		width: 2em;
		height: 2em;
		background: red;
		border-radius: 100%;
		margin-right: 1em;
		background-size: cover;
	&-user
		margin-right: 1em;
	&-config
		cursor: pointer;
	&-menu
		background: $morado;
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		z-index: 1;
		height:0;
		overflow: hidden;
		font-size: .8em;
		transition all 0.30s ease-in-out
		ul
			margin: 0;
			padding: 0;
			li
				cursor: pointer;
				padding: .5em;
				&:hover
					background: rgba(white, 0.2);

.u-menu-collapse
	height: 12em;