header
	background: $morado;
	color: white;
	display: flex;
	justify-content: space-between;
	padding-left: .5em;
	align-items: center;
	width: 100%;
	h2
		margin: 0;
		font-size: .9em;
	div
		display: flex;
		align-items: center;
		background: rgba(white, 0.2);
		button
			font-size: .8em;
			border-radius: 0;
			background: transparent;
			border: 0;
			color: white;
			&.Registrar:hover
				background: $azul;
			&.InicioSesion:hover
				background: $naranja;