span.icon-home(ui-sref="usuario.principal")
h2 Directorio de especialidades, Dr. App
div
	button(class="Registrar" popup-add="<registro />")
		b Registrarse
	button(class="InicioSesion" popup-add="<login />")
		b Inicio de sesión