section(class="Admin")
	button.Delete-user(ng-click="deleteDoctor()") Dar de baja la cuenta
	form(name="DoctorForm" ng-submit="DoctorForm.$valid && putDoctor()")
		div.u-labelInput
			div(class="Upload" style="background-image: url({{doctor.imgPerfil}})")
				input(type="file" file-upload="doctor.imgPerfil")
		div.u-labelInput
			div
				label Especialidad
				div
					select(ng-model="doctor.idEspecialidad" ng-init="doctor.idEspecialidad = doctor.idEspecialidad || especialidades[0].idEspecialidad" ng-options="option.idEspecialidad as option.especialidad for option in especialidades")
			div
				label Nombre 
				div(ng-class="{'u-input-required': DoctorForm.nombre.$error.required}")
					input(type="text", name="nombre" ng-model="doctor.nombre" required)
		div.u-labelInput
			div
				label Usuario
				div(class="u-input-disabled")
					input(type="text" ng-disabled="true" class="u-disabled" ng-model="doctor.doctor")
			div
				label Contraseña
				div(ng-class="{'u-input-required': DoctorForm.password.$error.required}")
					input(type="text", name="password" style="display:none")
					input(type="password", name="password" ng-model="doctor.password" required)
		div.u-labelInput
			div
				label Teléfono
				div(ng-class="{'u-input-required': DoctorForm.telefono.$error.required, 'u-input-minlength': DoctorForm.telefono.$error.minlength}")
					input(type="text" name="telefono" ng-model="doctor.telefono" ng-minlength="10" limit-to="10" numbers-only required)
			div
				label Correo
				div(ng-class="{'u-input-required': DoctorForm.correo.$error.required, 'u-input-errorEmail': DoctorForm.correo.$error.email}")
					input(type="email", name="correo" ng-model="doctor.correo" required)
		div.u-labelInput
			div
				label.txtArea Servicios
				div(ng-class="{'u-input-required': DoctorForm.servicios.$error.required}")
					textarea(ng-model="doctor.servicios" name="servicios" required)
			div
				label.txtArea Dirección
				div(ng-class="{'u-input-required': DoctorForm.direccion.$error.required}")
					textarea(ng-model="doctor.direccion" googleplace direccion="doctor.direccion" coordenadas="doctor.coordenadas" name="direccion" required)
		div.u-labelInput(ng-if="doctor.coordenadas")
			article(class="u-mapa")
				map(center="{{doctor.coordenadas}}", zoom="18")
					marker(position="{{doctor.coordenadas}}")
		h2 Galeria
		div.u-labelInput
			div(class="Doctor-upload-galeria" style="background-image: url({{doctor.foto1}})")
				input(type="file" file-upload="doctor.foto1")
			div(class="Doctor-upload-galeria" style="background-image: url({{doctor.foto2}})")
				input(type="file" file-upload="doctor.foto2")
			div(class="Doctor-upload-galeria" style="background-image: url({{doctor.foto3}})")
				input(type="file" file-upload="doctor.foto3")
		button(ng-class="{'u-disabled': !DoctorForm.$valid}") Guardar cambios
		button(ng-click="reset()") Cancelar