section(class="Admin")
	form(name="PacienteForm" ng-submit="PacienteForm.$valid && putPaciente()")
		article(class="Admin-img")
			div.u-labelInput
				div(class="Upload" style="background-image: url({{paciente.imgPerfil}})")
					input(type="file" file-upload="paciente.imgPerfil")
		article(class="Admin-info")
			div(class="u-input-disabled")
				label Usuario
				input(type="text" ng-disabled="true" class="u-disabled" ng-model="paciente.paciente")
			div(ng-class="{'u-input-required': PacienteForm.nombre.$error.required}")
				label Nombre
				input(type="text" ng-model="paciente.nombre" name="nombre" required)
			div(ng-class="{'u-input-required': PacienteForm.password.$error.required}")
				label Contraseña
				input(type="password" ng-model="paciente.password" name="password" required)
			div(ng-class="{'u-input-required': PacienteForm.correo.$error.required, 'u-input-errorEmail': PacienteForm.correo.$error.email}")
				label Correo
				input(type="email" ng-model="paciente.correo" name="correo" required)
			div(ng-class="{'u-input-required': PacienteForm.telefono.$error.required}")
				label Teléfono
				input(type="text" ng-model="paciente.telefono" name="telefono" required)
		article(class="Admin-button")
			button(ng-class="{'u-disabled': !PacienteForm.$valid}") Guardar cambios
			button(ng-click="reset()") Cancelar
