header(header)
section.Listado
	div.Perfil(ui-sref="doctor.perfil({id: 3})")
		img(src="img/doctor1.jpg", class="Perfil-img")
		h3.Perfil-nombre Nombre doctor
		p.Perfil-especialidad especialidad
	div.Perfil
		img(src="img/doctor1.jpg", class="Perfil-img")
		h3.Perfil-nombre Nombre doctor
		p.Perfil-especialidad especialidad
	div.Perfil
		img(src="img/doctor1.jpg", class="Perfil-img")
		h3.Perfil-nombre Nombre doctor
		p.Perfil-especialidad especialidad
	div.Perfil
		img(src="img/doctor1.jpg", class="Perfil-img")
		h3.Perfil-nombre Nombre doctor
		p.Perfil-especialidad especialidad
	div.Perfil
		img(src="img/doctor1.jpg", class="Perfil-img")
		h3.Perfil-nombre Nombre doctor
		p.Perfil-especialidad especialidad
	div.Perfil
		img(src="img/doctor1.jpg", class="Perfil-img")
		h3.Perfil-nombre Nombre doctor
		p.Perfil-especialidad especialidad
	div.Perfil
		img(src="img/doctor1.jpg", class="Perfil-img")
		h3.Perfil-nombre Nombre doctor
		p.Perfil-especialidad especialidad
	div.Perfil
		img(src="img/doctor1.jpg", class="Perfil-img")
		h3.Perfil-nombre Nombre doctor
		p.Perfil-especialidad especialidad