div(class="Popup Registro" popup-close)
	section(class="Registro-op" ng-show="!registro")
		figure(class="Registro-op-doc" ng-click="registro = 'doctor'")
			figcaption ¿Eres doctor?
		figure(class="Registro-op-usr" ng-click="registro = 'usr'")
			figcaption ¿Estas en busca de un doctor?
	form(ng-if="registro == 'doctor'" name="DoctorForm" ng-submit="DoctorForm.$valid && addDoctor()" class="Popup--contentScroll")
		h3 Registro de doctor
		div.u-labelInput
			div(class="Upload" style="background-image: url({{doctor.imgPerfil}})")
				input(type="file" file-upload="doctor.imgPerfil")
		div.u-labelInput
			div
				label Especialidad
				select(ng-model="doctor.idEspecialidad" ng-init="doctor.idEspecialidad = doctor.idEspecialidad || especialidades[0].idEspecialidad" ng-options="option.idEspecialidad as option.especialidad for option in especialidades")
			div(ng-class="{'u-input-required': DoctorForm.nombre.$error.required}")
				label Nombre
				input(type="text", name="nombre" ng-model="doctor.nombre" required)
		div.u-labelInput
			div(ng-class="{'u-input-required': DoctorForm.usuario.$error.required}")
				label Usuario
				input(type="text", name="usuario" style="display:none")
				input(type="text", name="usuario" ng-model="doctor.doctor" required)
			div(ng-class="{'u-input-required': DoctorForm.password.$error.required}")
				label Contraseña
				input(type="text", name="password" style="display:none")
				input(type="password", name="password" ng-model="doctor.password" required)
		div.u-labelInput
			div(ng-class="{'u-input-required': DoctorForm.telefono.$error.required}")
				label Teléfono
				input(type="text", name="telefono" ng-model="doctor.telefono" required)
			div(ng-class="{'u-input-required': DoctorForm.correo.$error.required, 'u-input-errorEmail': DoctorForm.correo.$error.email}")
				label Correo
				input(type="email", name="correo" ng-model="doctor.correo" required)
		div.u-labelInput
			div(ng-class="{'u-input-required': DoctorForm.servicios.$error.required}")
				label.txtArea Servicios
				textarea(ng-model="doctor.servicios" name="servicios" required)
			div(ng-class="{'u-input-required': DoctorForm.direccion.$error.required}")
				label.txtArea Dirección
				textarea(ng-model="doctor.direccion" googleplace direccion="doctor.direccion" coordenadas="doctor.coordenadas" name="direccion" required )
		div.u-labelInput
			article(class="u-mapa")
				map(center="{{doctor.coordenadas}}", zoom="18")
					marker(position="{{doctor.coordenadas}}")
		h2 Galeria
		div.u-labelInput
			div(class="Doctor-upload-galeria" style="background-image: url({{doctor.foto1}})")
				input(type="file" file-upload="doctor.foto1")
			div(class="Doctor-upload-galeria" style="background-image: url({{doctor.foto2}})")
				input(type="file" file-upload="doctor.foto2")
			div(class="Doctor-upload-galeria" style="background-image: url({{doctor.foto3}})")
				input(type="file" file-upload="doctor.foto3")
		button(ng-class="{'u-disabled': !DoctorForm.$valid}") Registrar
	form(ng-if="registro == 'usr'" name="PacienteForm" ng-submit="PacienteForm.$valid && addPaciente()" class="Popup--contentScroll")
		h3 Registro de paciente
		div.u-labelInput
			div(class="Upload" style="background-image: url({{paciente.imgPerfil}})")
				input(type="file" file-upload="paciente.imgPerfil")
		div.u-labelInput
			div(ng-class="{'u-input-required': PacienteForm.usuario.$error.required}")
				label Usuario
				input(type="text", name="usuario" style="display:none")
				input(type="text", name="usuario" ng-model="paciente.paciente" required)
			div(ng-class="{'u-input-required': PacienteForm.nombre.$error.required}")
				label Nombre
				input(type="text", name="nombre" ng-model="paciente.nombre" required)
		div.u-labelInput
			div(ng-class="{'u-input-required': PacienteForm.password.$error.required}")
				label Contraseña
				input(type="text", name="password" style="display:none")
				input(type="password", name="password" ng-model="paciente.password" required)
			div(ng-class="{'u-input-required': PacienteForm.correo.$error.required, 'u-input-errorEmail': PacienteForm.correo.$error.email}")
				label Correo
				input(type="email", name="correo" ng-model="paciente.correo" required)
		div(ng-class="{'u-input-required': PacienteForm.telefono.$error.required}")
			label Teléfono
			input(type="text" name="telefono" ng-model="paciente.telefono" required)
		button(ng-class="{'u-disabled': !PacienteForm.$valid}") Registrar