div(class="Popup Registro" popup-close)
	section(class="Registro-op" ng-show="!registro")
		figure(class="Registro-op-doc" ng-click="registro = 'doctor'")
			figcaption ¿Eres doctor?
		figure(class="Registro-op-usr" ng-click="registro = 'usr'")
			figcaption ¿Estas en busca de un doctor?
	section.Registro-form
		form(ng-if="registro == 'doctor'")
			h3 Registro de doctor
			div
				div(class="Upload" style="background-image: url({{doctor.imgPerfil}})")
					input(type="file" file-upload="doctor.imgPerfil")
			div
				label Especialidad
				select(ng-model="doctor.idEspecialidad" ng-init="doctor.idEspecialidad = doctor.idEspecialidad || especialidades[0].idEspecialidad" ng-options="option.idEspecialidad as option.especialidad for option in especialidades")
			div
				label Usuario
				input(type="text", ng-model="doctor.doctor")
			div
				label Nombre
				input(type="text", ng-model="doctor.nombre")
			div
				label Contraseña
				input(type="text", ng-model="doctor.password")
			div
				label Correo
				input(type="text", ng-model="doctor.correo")
			div
				label.txtArea Dirección
				textarea(ng-model="doctor.direccion")
			div
				label.txtArea Servicios
				textarea(ng-model="doctor.servicios")
			div
				label Teléfono
				input(type="text", ng-model="doctor.telefono")
			button(ng-click="addDoctor()") Registrar
		form(ng-if="registro == 'usr'")
			h3 Registro de paciente
			div
				label Usuario
				input(type="text")
			div
				label Nombre
				input(type="text")
			div
				label Contraseña
				input(type="text")
			div
				label Correo
				input(type="text")
			button(type="submit") Registrar