section(class="Cards")
	article(class="Card")
		section(class="Card-note")
			i(class="Card-note-close icon-close")
			p(class="Card-note-desc") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse dicta perspiciatis, assumenda repudiandae illum earum, praesentium distinctio. Animi soluta numquam dolorum cupiditate temporibus corrupti nostrum eos aperiam neque. Quod, eveniet?
		section(class="Card-header")
			span(class="Card-header-num") 1
			h2(class="Card-header-title") Toma pieza de Banda
			select(class="Card-header-valor")
				option(value="L NVA") L NVA
				option(value="P NVA") P NVA
				option(value="I NVA") I NVA
		section(class="Card-averages")
			article(class="Card-averages-calculos")
				div
					label Promedio
					span 0.0015
				div
					label Concesión
					input(type="number")
				div
					label Tiempo estandar
					span 0.0015
				div
					label Frecuencia (%)
					input(type="number")
			article
				span(class="Card-averages-num") 1
				span(class="Card-averages-time") 0.005
				i(class="Card-averages-note icon-note")
			article
				span(class="Card-averages-num") 2
				span(class="Card-averages-time") 0.006
				i(class="Card-averages-note icon-note")
			article
				span(class="Card-averages-num") 3
				span(class="Card-averages-time") 0.004
				i(class="Card-averages-note icon-note")
			article
				span(class="Card-averages-num") 4
				span(class="Card-averages-time") 0.005
				i(class="Card-averages-note icon-note")
			article
				span(class="Card-averages-num") 5
				span(class="Card-averages-time") 0.006
				i(class="Card-averages-note icon-note")
			article
				span(class="Card-averages-num") 6
				span(class="Card-averages-time") 0.004
				i(class="Card-averages-note icon-note")
			article
				span(class="Card-averages-num") 7
				span(class="Card-averages-time") 0.005
				i(class="Card-averages-note icon-note")
			article
				span(class="Card-averages-num") 8
				span(class="Card-averages-time") 0.006
				i(class="Card-averages-note icon-note")
			article
				span(class="Card-averages-num") 9
				span(class="Card-averages-time") 0.004
				i(class="Card-averages-note icon-note")
			article
				span(class="Card-averages-num") 10
				span(class="Card-averages-time") 0.004
				i(class="Card-averages-note icon-note")
		section(class="Card-results")
			article(ng-hide="true")
				label(class="Card-results-va") va
				span 1000
			article
				label(class="Card-results-nva") nva
				span 2000
			article
				label(class="Card-results-proceso") proceso
				span 3000
			article
				label(class="Card-results-calidad") calidad
				span 4000
			article
				label(class="Card-results-logistica") logistica
				span 4000
			article
				label(class="Card-results-ingenieria") ingeniería
				span 5000