.Cards
	display:flex;
	padding: 1em;
	.Card
		background: white;
		padding: 1em;
		margin: .5em;
		box-shadow: 0 2px 4px rgba(0,0,0,0.3);
		overflow: hidden;
		min-width: 20em;
		position: relative;
		&-note
			position: absolute;
			background: rgba(black, 0.8);
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 1;
			color: white;
			padding: 2em;
			display: flex;
			justify-content: center;
			&-close
				position: absolute;
				right: 1em;
				top: 1em;
				color: rgba(white, 0.3);
				cursor: pointer;
				&:hover
					color: white;
			&-desc
				margin: 0;
				text-align: center;
		&-header
			display: flex;
			justify-content: space-between;
			margin-bottom: 1em;
			&-num
				background: #00bcd4;
				color: white;
				padding: .3em .6em;
				font-weight: bold;
				align-self: flex-start;
			&-title
				font-size: 1.2em;
				margin: 0;
				align-self: center;
				margin: 0 1em;
			&-valor
				border: 0;
		&-averages
			position: relative;
			padding-bottom: 1em;
			article
				margin-bottom:.5em;
			&-num
				display: inline-block;
				text-align: center;
				width: 2em;
				padding: .3em 0;
				background: #333;
				color: white;
				font-size: .9em;
				font-weight: bold;
				margin-right: .5em;
			&-note
				margin-left: .5em;
				cursor: pointer;
				color: rgba(#333, 0.2);
				&:hover
					color: rgba(#333, 0.7);
			&-calculos
				width: 8em;
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				text-align: center;
				div
					margin-bottom: 1em;
					border: 1px solid #616161;
					& > *
						text-transform: uppercase;
						display: block;
						padding: .3em;
					label
						font-weight: bold;
						font-size: .7em;
						background: #616161;
						color: white;
					input
						width: 100%;
						text-align: center;
						border: 0;
						background: rgba(#333, 0.1);
		&-results
			border-top: 1px solid #333;
			padding: 1em 0 0;
			display: flex;
			justify-content: space-between;
			article
				& > *
					text-align: center;
					text-transform: uppercase;
					display: block;
					padding: .3em;
					font-size: .8em;
				label
					font-weight: bold;
					color: black;
			&-va
				background: green;
			&-nva
				background: yellow;
			&-proceso
				background: red;
			&-calidad
				background: pink;
			&-ingenieria
				background: brown;
			&-logistica
				background: blue;